@import "tailwindcss";

@theme {
  --color-app-bg: #0b1120;
  --color-surface: #121a2a;
  --color-surface-hover: #172235;
  --color-surface-light: #1b293a;

  --color-accent: #22c55e;
  --color-accent-hover: #16a34a;

  --color-text-primary: #f1f5f9;
  --color-text-secondary: #94a3b8;

  --color-border: #243044;
}

body {
  margin: 0;
  background-color: var(--color-app-bg);
  color: var(--color-text-primary);
  font-family: Arial, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #f1f5f9;
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset;
  box-shadow: 0 0 0 1000px #0f172a inset;
  caret-color: #f1f5f9;
}